@using HawkIT.ViewModel
@model ProjectDetailsViewModel

@section Styles{<link rel="stylesheet" href="~/css/ProjectDetails.css"/>}


@*   локация -- где находится пользователь   *@

<div class="locat">
	<a asp-controller="Home" asp-action="Index" class="locat__main">Главная </a>
	<img src="~/img/blog_strelocka.png" class="locat__img"/>
	<a class="locat__case">@Model.Project.Name</a>
</div>

@*   Название проекта   *@

<div class="name">@Model.Project.Name</div>

@*   Описание проекта   *@

<div class="desc">@Model.Project.Text</div>

@*   Картинки связанные с проектом   *@
@if(Model.Project.Banners != null)
{
	@foreach (var banner in Model.Project.Banners.Split("||"))
	{
		<img src="@banner" class="case__img" />
	}
}



@*   Документы   *@


<div class="doc">
	<div class="doc__txt">Документы проекта</div>

	@if (!(String.IsNullOrEmpty(Model.Project.TechSpecification)))
	{
		<a href="@Model.Project.TechSpecification" class="doc__link">
			<img src="~/img/doc.png" class="doc__link__img" />

			<div class="doc__link__txt">@Model.Project.TechSpecification.Split("/").Last()</div>
		</a>
	}
	
</div>
